
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    line-height: 2rem;
    background-color: lightskyblue;
    }

/* 
font-family: 'Architects Daughter', cursive;
font-family: 'Roboto', sans-serif; */

.jumbotron {
    font-family: 'Architects Daughter', cursive;
    color: rgb(2, 4, 68);
    background-color: lightskyblue;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 10px solid rgb(2, 4, 68);
}